#page_content form:last-child {
	width: 80%;
    padding: 1rem 2rem;
}

#inscription_form .spaced {
	padding: 0.5rem 0rem;
}

#birthLegend {
	text-align: center;
	color:var(--secondary-darker-color)
}

#pp_container {
	margin-left: 25rem;
	padding: 0.2rem;
}

#pp_container img {
	border-radius: 0.3rem;
	box-shadow: 0.2rem 0.2rem 0.3rem var(--interactible-color);
}

#pp_container .pp_account {
	width: 15rem;
}
