#connexion_part {
	width: 80%;
	padding: 1rem 2rem;
}

#connect_form {
	padding-right: 3rem;
	border-right: 0.3rem solid var(--primary-color);
	border-radius: 0.3rem;
}

#toInscription {
	padding-left: 2rem;
}

#connect_form .spaced {
	padding: 0.5rem 0rem;
}
