#inscription_part {
	width: 80%;
	padding: 1rem 2rem;
}

#inscription_form {
	padding-right: 3rem;
	border-right: 0.3rem solid var(--primary-color);
	border-radius: 0.3rem;
}

#to_connection {
	padding-left: 2rem;
}

#birthLegend {
	text-align: center;
	color:var(--secondary-darker-color)
}
