.plant_tile {
	background-color: var(--interactible-background-color);
	width: 13rem;
	height: 21rem;
	box-shadow: 0.05rem 0.05rem 0.3rem var(--interactible-lighter-color);
	color: var(--interactible-color);
	border-radius: 0.5rem;
	margin: 0 1.5rem 1rem 0rem;
}

.plant_tile:hover {
	background-color: var(--interactible-background-active-color);
	box-shadow: 0.05rem 0.05rem 0.3rem  var(--interactible-color);
	color: var(--interactible-lighter-color);
	border-radius: 0.4rem;
	transform: scale(1.03);
	transition: all 200ms linear;
}

.main-info {
	font-weight: bold;
}

.plant_tile img {
	max-width: 13rem;
	height: 9rem;
	margin-bottom: 0.2rem;
	border-radius: 0.6rem 0.6rem 0 0;
}

.plant_tile .div-info {
	height: 11rem;
	border-top: 0.2rem solid var(--primary-color);
	padding-top: 0.1rem;
	border-bottom: 0.2rem solid var(--primary-color);
}

.div-info * p {
	text-align: center;
	max-width: 10.5rem;
}

.div-info .family {
	text-transform: uppercase;
}

#plant_modal {
	z-index: 2;
	background-color: var(--primary-lighter-color);
	border: 0.2rem solid var(--primary-color);
	border-radius: 0.5rem;
	width: 50%;
	height: 65%;
	padding: 0.5rem 1rem;
}

#plant_modal #modal_content {
	margin-top: 1rem;
}

#plant_modal #modal_content .basic_info {
	max-width: 40%;
	height: 100%;
}

#plant_modal #modal_content .detailled_info {
	width: 60%;
	height: 100%;
}

#plant_modal #modal_content .basic_info .plant_picture {
	height: 16rem;
}

.smaller_modal_text {
	font-size: 0.8rem;
}

#button_non_posseded {
	z-index: 2;
	padding: 0.7rem;
	color: var(--interactible-color);
	border: 0.2rem solid var(--interactible-color);
	border-radius: 100%;
	background-color: var(--interactible-secondary-color);
}

#button_non_posseded:hover {
	box-shadow: 0.1rem 0.05rem;
	transition: box-shadow 100ms linear;
}

#button_non_posseded:active {
	color: var(--interactible-lighter-color);
	border-color: var(--interactible-lighter-color);
	background-color: white;
	transition: all 100ms linear;
}

#add_posseded_plant_form {
	z-index: 1; /* appears below button_non_posseded */
	background-color: var(--interactible-background-active-color);
	padding: 0.3rem 0.5rem;
	border-radius: 0 1rem 1rem 0;
}
