/* font-family: 'Sofia Sans Semi Condensed', sans-serif; intended for minor titles*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

/* font-family: 'Nunito', sans-serif; intended for text*/
/* font-family: 'Nunito', sans-serif; intended for text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root, #logo {
	/* define colors */
	--primary-color: #10492a;
	--primary-lighter-color: #d6f5e3;
	--primary-background-lighter-color: #eafaf1;
	
	--secondary-color: #f3e8ee;
	--secondary-darker-color: #e4abc1;
	
	--interactible-color: #745d42;
	--interactible-lighter-color: #9d8174;
	--interactible-secondary-color: #dad6d6;
	
	--link-default-color: #189fa8;
	--link-default-darker-color: #117278;
	
	--success-color: #b8ddab;
	--error-color: #f48282;
	
	/* define fonts */
	--text-font: 'Nunito', sans-serif;
	--title-font: 'Sofia Sans Semi Condensed', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	
	font-family: var(--text-font);
}

body {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-background-lighter-color);
}

#page_content {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0rem 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.page_title {
	font-family: var(--title-font);
	font-weight: bold;
	text-decoration: underline 0.3rem;
	color: var(--primary-color);
	text-decoration-color: var(--secondary-darker-color);
	font-size: 3rem;
}

.legend {
	font-size: 0.6rem;
}

.link-default {
	font-family: var(--text-font);
	color:var(--link-default-color);
}

.link-default:hover {
	color:var(--interactible-color);
	transition: color 200ms linear;
}

.link-default:active {
	color:var(--secondary-darker-color);
}

.link-default:visited {
	color:var(--link-default-darker-color);
}

.interactible-button {
	color: var(--interactible-color);
	border: 0.2rem solid var(--interactible-color);
	border-radius: 0.3rem;
	padding: 0.2rem 0.3rem;
	background-color: var(--interactible-secondary-color);
}

.interactible-button:hover {
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.05rem;
	transition: border-radius 100ms linear, box-shadow 100ms linear;
}

.interactible-button:active {
	color:var(--interactible-lighter-color);
	border-color: var(--interactible-lighter-color);
	background-color: white;
	transition: color 100ms linear, border-color 100ms linear, background-color 100ms linear;
}

.message {
	display: block;
	padding: 0.5rem;
	border: 0.12rem solid var(--interactible-color);
	border-radius: 0.6rem;
	text-align: center;
	margin-bottom: 0.2rem;
	animation: fadeSlideInRight 400ms;
	font-weight: bold;
	text-transform: capitalize; /* setup all first letter of word as capital*/
}

.message-out {
	animation: fadeSlideOutRight 400ms;
}

.success {
	background-color: var(--success-color);
}

.error {
	background-color: var(--error-color);
}

label {
	color: var(--primary-color);
	font-weight: bolder;
}

input:not([type='submit']) {
	color: var(--interactible-color);
	border: 0.15rem solid var(--interactible-color);
	border-radius: 0.4rem;
	padding: 0.2rem 0.3rem;
}

input:focus {
	padding: 0.3rem 0.3rem;
	border-width:0.20rem;
	transition: padding 50ms linear, border-width 50ms linear;
}

@keyframes fadeSlideInRight {
	from {
		opacity: 0;
		margin-left: 100%;
		width: 100%;
	}
	to {
		opacity : 1;
		margin-left: 0%;
		width: 100%;
	}
}

@keyframes fadeSlideOutRight {
	from {
		opacity: 1;
		margin-left: 0%;
		width: 100%;
	}
	to {
		opacity : 0;
		margin-left: 100%;
		width: 150%;
	}
}

@keyframes swing {
	0% {
		fill:var(--primary-color);
		transform: rotate(0deg);
	}
	10% {
		fill:var(--primary-color);
		transform: rotate(-5deg);
	}
	30% {
		fill:var(--primary-color);
		transform: rotate(5deg);
	}
	60% {
		fill:var(--primary-color);
		transform: rotate(-5deg);
	}
	80% {
		transform: rotate(5deg);
	}
	}
	100% {
		fill: var(--secondary-darker-color);
		transform: rotate(0deg);
	}
}
