.flex-column-center-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.flex-column-start-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}

.flex-column-start-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-column-start-right {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.flex-row-center-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.flex-row-start-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.flex-row-spbetween-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-row-spbetween-start {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-row-spbetween-end {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.fixed-top-center {
	position: fixed;
	top: 9rem;
	left: auto;
	right: auto;
	padding: 0.7rem 1.5rem;
}

.fixed-top-right {
	position: fixed;
	top: 9rem;
	left: auto;
	right: 1.5rem;
	padding: 0.7rem 1.5rem;
}

.hidden {
	display: none;
}

