.flex-column-center-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.flex-column-start-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}

.flex-column-sparound-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}

.flex-column-sparound-start {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.flex-row-sparound-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.flex-row-sparound-right {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-end;
}

.flex-column-start-right {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.flex-row-center-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.flex-row-start-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.flex-row-spbetween-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-row-spbetween-start {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-row-spbetween-end {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.flex-row-sparound-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.fixed-bottom-right {
	position: fixed;
	bottom: 5rem;
	right: 4rem;
}

.fixed-center-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fixed-top-center {
	position: fixed;
	top: 9rem;
	left: auto;
	right: auto;
}

.fixed-top-right {
	position: fixed;
	top: 9rem;
	left: auto;
	right: 1.5rem;
}

.hidden {
	display: none;
}
